/*h1 {
  font-size: 100px;
  font-weight: bold;
}

h2 {
  font-size: 80px;
  font-weight: bold;
}

h3 {
  font-size: 35px;
  font-weight: bold;
}

p {
  font-size: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.logo {
  height: 100px;
}

.navbar li {
  list-style: none;
  padding: 0px 49px;
  float: left;
  text-align: center;
  justify-content: center;
}

.navbar li a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.navbar li a:hover {
  color: darkolivegreen;
  text-decoration: underline;
  font-weight: bolder;
}

body {
  background-color: darkolivegreen;
}

.heading {
  color: white;
  text-align: center;
}

.hero {
  height: 90vh;
  width: 100%;
  background-image: url('images/hero_background_image.jpg');
  background-size: cover;
}

.about {
  background-color: white;
  padding: 0px;
}

.about h2,
.about p {
  color: darkolivegreen;
}

.FAQ {
  text-align: right;
  justify-content: right;
}

.FAQ h2,
.FAQ h3,
.FAQ p {
  color: white;
}*/

/* /////////////////////////////////////////////////////////////// */
body {
  background-color: darkolivegreen;
}

h1 {
  font-size: 100px;
  font-weight: bold;
}

h2 {
  font-size: 80px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: white;
}

h3 {
  font-size: 35px;
  font-weight: bold;
}

header {
  background-color: white;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
  color: darkolivegreen;
}

.navbar-brand:hover {
  color: darkolivegreen;
  text-decoration: none;
  font-weight: bold;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-nav-link {
  font-size: 30px;
  font-weight: bold;
  /* color: black; */
  color: rgb(33 37 41 / 75%);
}

#header-nav-link:hover {
  color: darkolivegreen;
  text-decoration: underline;
  font-weight: bolder;
}

#hero-section {
  background-color: black;
  /* color: darkolivegreen; */
}

#hero {
  height: 100vh;
  width: 100%;
  background-image: url('images/hero_background_image.jpg');
  background-size: cover;
}

#hero:hover {
  opacity: 0.75;
}

#hero-title {
  font-size: 100px;
  font-weight: bold;
  color: darkolivegreen;
}

#call-to-action {
  font-size: 20px;
  font-weight: bold;
  color: darkolivegreen;
}

.icon-link {
  font-size: 25px;
  text-decoration: underline;
  font-weight: bold;
  color: darkolivegreen;
}

#signin-form{
  
}