body {
  background-color: darkolivegreen;
}

h1 {
  font-size: 100px;
  font-weight: bold;
}

h2 {
  font-size: 75px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: white;
}

h3 {
  font-size: 35px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: white;
}

header {
  background-color: white;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: darkolivegreen;
}

.navbar-brand:hover {
  color: darkolivegreen;
  text-decoration: none;
  font-weight: bold;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-nav-link {
  font-size: 30px;
  font-weight: bold;
  color: rgb(33 37 41 / 75%);
}

#header-nav-link:hover {
  color: darkolivegreen;
  text-decoration: underline;
  font-weight: bolder;
}

#hero-section {
  background-color: black;
}

#hero {
  height: 100vh;
  width: 100%;
  background-image: url('images/hero_background_image.jpg');
  background-size: cover;
}

#hero:hover {
  opacity: 0.75;
}

#hero-title {
  font-size: 100px;
  font-weight: bold;
  color: darkolivegreen;
}

#call-to-action {
  font-size: 20px;
  font-weight: bold;
  color: darkolivegreen;
}

.icon-link {
  font-size: 25px;
  text-decoration: underline;
  font-weight: bold;
  color: darkolivegreen;
}
